.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f8f9fa;
  }
  

  .navbar-logo {
    /* 기존 스타일 유지 */
    text-decoration: none;  /* 링크 밑줄 제거 */
    color: inherit;  /* 부모 요소의 텍스트 색상 상속 */
    cursor: pointer;  /* 마우스 오버 시 포인터 커서 표시 */
    display: inline-block;  /* 인라인 블록 요소로 설정 */
    font-size: 1.5rem;  /* 글씨 크기 설정 (필요에 따라 조정) */
    font-weight: bold;  /* 글씨 굵기 설정 */
    padding: 10px 15px;  /* 패딩 추가 (필요에 따라 조정) */
    transition: color 0.3s ease;  /* 색상 변화에 부드러운 전환 효과 추가 */
  }
  
  .navbar-logo:hover {
    color: #007bff;  /* 마우스 오버 시 색상 변경 (원하는 색상으로 조정) */
  }

  
  .navbar-links {
    display: flex;
    list-style-type: none;
  }
  
  .navbar-links li {
    margin-right: 1rem;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #333;
  }
  
  .navbar-login {
    display: flex;
    align-items: center;
  }
  
  .navbar-login input {
    margin-right: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .btn-login, .btn-signup, .btn-logout {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .btn-login {
    background-color: #007bff;
    color: white;
  }
  
  .btn-signup {
    background-color: #6c757d;
    color: white;
    margin-left: 0.5rem;
  }

